.content-title {
    width: 250px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color:#03a9f4;
}
.content-title span {
    color: white;
}
.chart {
    margin: auto;
}

.columns{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}
.column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #03a9f4;
    border-radius: 10px;
}
@media (min-width: 785px) {
    .chart {
        width: 700px;
        height: 700px;
    }
}
@media (max-width: 784px) {
    .chart {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}